/* default  */
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Navbar.js */
.nav-logo {
  float: right;
  width: 10%;
  height: auto;
}

/* Products.js
.container{
  display: flex;
  justify-content: space-around;
}

.wrapper{
  text-align: center;
  background-color: bisque;
  display: flex;
  flex-direction: column-reverse;
  margin: 1rem;
 
}

.productImages{
  height: 10rem;
  width: 10rem;
} */


/* Products.css */
/* div containing items */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

/* individual item */
.wrapper {
  height: auto;
  text-align: center;
  font-size: .5rem;
  margin: 1rem;
  padding: 1rem;
}

.productImages {
  height: 10rem;
  width: 10rem;
}

/* Single Product View CSS */

.single-product-container a {
  text-decoration: none;
}
.single-product-container{
  color: black;
}

/* Shop CSS */
.container a {
  text-decoration: none;
  color: black;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px; 
  width: 400px; 
  border: 1px solid #ccc; 
  padding: 10px; 
  text-align: center; 
}

.product-item h1 {
  margin-top: 10px;
}

.product-item img {
  max-width: 100%; 
  max-height: 100%; 
}